.sf-menu, .sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}
.sf-menu li {
    position: relative;
}
.sf-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 2100;
}
.sf-menu > li {
    float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
    display: block;
}

.sf-menu a {
    display: block;
    position: relative;
}
.sf-menu ul ul {
    top: 0;
    left: 100%;
}


.sf-menu {
    height: 30px;
    display: inline-block;
    /*margin-bottom: 1em;*/
}
.sf-menu ul {
    box-shadow: 2px 2px 6px rgba(0,0,0,.2);
    min-width: 12em; /* allow long menu items to determine submenu width */
    *width: 12em; /* no auto sub width for IE7, see white-space comment below */
    background: #ecfcdd;
    /*border: 2px solid #71a72e;*/
    /*border-top: 0;*/
}
.sf-menu a {
    /*border-left: 1px solid #fff;*/
    /*border-top: 1px solid #dFeEFF; *//* fallback colour must use full shorthand */
    /*border-top: 1px solid rgba(255,255,255,.5);*/
    /*padding: .75em 1em;*/
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    zoom: 1; /* IE7 */
    padding: 0 10px;
    font-weight: 700;
    text-shadow: 1px 0 1px #47631e;
}
.sf-menu a {
    color: #fff;
}
.sf-menu a:hover {
    color: #333;
    text-shadow: none;
    background: #ecfcdd;
}
.sf-menu li {
    white-space: nowrap; /* no need for Supersubs plugin */
    *white-space: normal; /* ...unless you support IE7 (let it wrap) */
    -webkit-transition: background .2s;
    transition: background .2s;
    border-left: 1px solid #fff;
}
.sf-menu li:last-child {
    border-right: 1px solid #fff;
}
.sf-menu ul li,
.sf-menu ul li:last-child {
    background: none;
    border: 0;
}

.sf-menu ul li a {
    /*background: #AABDE6;*/
    /*background: #fff;*/
    text-shadow: none;
    color: #444;
    font-weight: 300;
    line-height: 22px;
    height: 22px;
}
.sf-menu ul li a:hover {
    background: #bcd2b2;
    color: #fff;
}
.sf-menu ul ul li a {
    font-weight: 300;
}
.sf-menu li:hover{
    background: #bcd2b2;
    /* only transition out, not in */
    -webkit-transition: none;
    transition: none;
}
.sf-menu li:hover a {
    color: #333;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
    padding-right: 2.5em;
    *padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1em;
    margin-top: -3px;
    height: 0;
    width: 0;
    /* order of following 3 rules important for fallbacks to work */
    border: 5px solid transparent;
    /*border-top-color: #dFeEFF; *//* edit this to suit design (no rgba in IE8) */
    border-top-color: rgba(255,255,255,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
    border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
    margin-top: -5px;
    margin-right: -3px;
    border-color: transparent;
    /*border-left-color: #dFeEFF; *//* edit this to suit design (no rgba in IE8) */
    /*border-left-color: rgba(255,255,255,.5);*/
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
    /*border-left-color: white;*/
}



.sf-menu a:link,
.sf-menu a:visited  {
    color: #fff;
    text-decoration: none;
}
.sf-menu .sfHover {
    background: #ecfcdd !important;
}
.sf-menu .sfHover a {
    text-shadow: none !important;
}
.sf-menu .sfHover a:visited {
    color: #333;
}