@import "layout";

body {
  font-family: $sans-serif;
  //font-size: 2em;
  font-weight: 300;
  background: #F1F1F1;
  //padding-top: 70px;
  //padding-bottom: 30px;
}

h1, h2, h3 {
  font-family: $header;
}

h1 {
  font-size: 2em;
  line-height: 1.2;
  font-weight: normal;
  color: #333;
  margin: 12px 0 24px;

  .rubric &,
  .index &
  {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
  }
}

h2,
.index-title {
  font-weight: normal;
  font-size: 1.8em;
  margin: 20px 0 10px;

  .rubric & {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
  }
}

.page-wrapper {
  border: 1px solid #ddd;
  background: #fff;
  padding: 20px;
  max-width: $max-width;
  width: 100%;
  margin: 0 auto 30px;
  min-height: 600px;
  margin-top: 20px;
  position: relative;
  .user & {
    background: none;
    border: 0;
  }
}

.content {
  float: left;
  width: 100%;
  .product & {
    float:none;
  }
  .content-inner {
    margin-right: 320px;
    word-wrap: break-word;

    .product & {
      margin-right: 0;
    }
  }
}


.sidebar-right {
  .btn-group-vertical {
    display: block;
    .btn {
    }
  }
}

.sidebar-left {
  h3 {
    font-size: 1.4em;
  }
}

.socialWrapper {
  display: inline-block;
  vertical-align: middle;
  margin: 2px 10px;
  position: absolute;
  top: 2px;
  right: 0;
  //float: right;
}

p {
  margin: 0 0 1em 0;
}

a {

  &:link,
  &:visited {
    text-decoration: none;
    color: $link;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}



input[type="text"],
input[type="search"],
input[type="password"],
textarea {
  border-color: #ccc #ccc #aaa #ccc;
  border-width: 1px;
  border-style: solid;
  padding: 3px;
  border-radius: 3px;
  box-shadow: 0px 1px 1px #ddd inset;
  box-shadow: inset 0px 2px 2px #f7f7f7;

  &:focus {

    border-color: #1275BD #1275BD #128fdc #1275BD;
    border-width: 1px;
    border-style: solid;
    padding: 3px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px #ddd inset;
  }

  &:hover {
    box-shadow: 0px 0px 3px #1275BD;
    border-color: #1275BD #1275BD #128fdc #1275BD;
    border-width: 1px;
    border-style: solid;
    padding: 3px;
    border-radius: 3px;
  }
}

.rubricator {
  margin-top: 10px;
  padding: 0 0 0 60px;
  .left,
  .right {
    width: 50%;
    display: table-cell;

    li {
      list-style-type: none;
      padding-bottom: 13px;

      h3 {
        margin-bottom: 0.5em;
      }

      a {
        line-height: 1.5em;
        text-decoration: underline;
        display: block;
        margin: 4px 0;
      }
    }
  }

  .right {
    padding-left: 80px;
  }
}

.navbar-default .navbar-brand {
  font-family: $header;
  font-weight: 700;
  font-size: 2em;
  margin-left: 20px;
  float: left;
  text-decoration: none;
  color: $green;
}

#header {
  background:#fff;
  height: 54px;
  padding-top: 6px;

  .header-wrapper {
    max-width: $max-width;
    width: 100%;

    margin: 0 auto;
    position: relative;
  }

  .logo {
    font-family: $header;
    font-weight: 700;
    font-size: 2em;
    margin-left: 20px;
    //float: left;
    
    a {
      text-decoration: none;
      color: $green;
      float: left;
      margin-right: 20px;
    }
    span {
      font-weight: 300;
      margin-left: 10px;
      margin-top: 10px;
      color: #666;
      font-size: 16px;
      float: left;
    }
  }

  .content {
    //width: $max-width;
    margin: 0 auto;
  }
}


#top-menu {
  text-align: center;
  border-bottom: 1px solid #ddd;
  height: 30px;
  box-shadow: 0 0 5px #ddd;

  background: #75b937;
  background: -moz-linear-gradient(top,  #75b937 0%, #65a22c 95%, #629e2a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#75b937), color-stop(95%,#65a22c), color-stop(100%,#629e2a));
  background: -webkit-linear-gradient(top,  #75b937 0%,#65a22c 95%,#629e2a 100%);
  background: -o-linear-gradient(top,  #75b937 0%,#65a22c 95%,#629e2a 100%);
  background: -ms-linear-gradient(top,  #75b937 0%,#65a22c 95%,#629e2a 100%);
  background: linear-gradient(to bottom,  #75b937 0%,#65a22c 95%,#629e2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75b937', endColorstr='#629e2a',GradientType=0 );


  .content {
    text-align: center;
    min-width: $max-width
  }

  &.top-menu-error {
    display: none;
  }
}

#footer {
  background: #424242;
  border-top: 1px solid #ddd;
  padding: 20px;
  color: #fff;

  a {
    color: #FDF8CB;
  }
  strong {
    font-size: 1.2em;
  }
  
  .footer-wrap {
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;

    .footer-col1 {
      float: left;
      width: 40%;
      padding-right: 30px;
    }
    .footer-col2 {
      float: left;
      width: 30%;
    }
    .footer-col3 {
      float: left;
      width: 30%;
    }

    .counters {
      float: right;
      margin-top: -7px;
    }
    .footer-copy {
      margin-top: 20px;
      color: #666;
      clear: both;
    }

    .footer-menu {
      & > li {
        list-style-type: none;
        //display: inline-block;
        padding: 0;
        margin-right: 10px;
      }

      //& > li + li {
      //  border-left: 1px solid #aaa;
      //  padding-left: 10px;
      //}
    }
  }
}





/*~~~~~~~~~~~~~~~~~~Блоки~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.block {
  border: 1px solid #ddd;
  .content {
    padding: 15px;
  }
  h3 {
    margin-bottom: 8px;
    margin-top: 0;
    a {
      text-decoration: none;
    }
  }
}
.similar-tovar-wrapper {
  &.block {
    margin-top: 20px;
    h3 {
      text-align: center;
    }
  }
}




.front-categs {
  ul {
    li {
      display: inline-block;
      vertical-align: top;
      width: 200px;
      height: 200px;
      border: 1px solid #ddd;
      margin: 5px 3px;
      text-align: center;

      .front-categs-title {
        font-size: 1.4em;
        color: #333;
        margin-top: 80px;
      }
    }
  }
}

.p-stikers {
  &.blacklist-products ul li {
    border: 1px solid #000;
  }
  ul {
    text-align: center;
    margin-right: -10px;

    li {
      width: 300px;
      height: 420px;
      display: inline-block;
      vertical-align: top;
      border: 1px solid #ddd;
      margin: 13px 10px 0 0;
      text-align: center;
      position: relative;

      &.double {
        width: 614px;
        .img-wrapper {
          width: 594px;
        }
      }

      &:hover {
        box-shadow: 0 2px 5px #ccc;
      }

      a {
        color: #999;
        text-decoration: none;
      }

      .sticker-price {
        font-size: 1.4em;
      }

      .sticker-title {
        font-size: 1.4em;
        color: #000;
        margin-bottom: 10px;
      }
      .sticker-rating {
        position: absolute;
        padding: 10px 15px;
        background: #ee151a;
        color: #fff;
        top: 20px;
        font-size: 1.2em;
      }
      .sticker-icons {
        text-align: left;
        position: absolute;
        bottom: 10px;
        left: 10px;
        a {
          //width: 32px;
          //height: 32px;
          margin-right: 10px;
          display: inline-block;
          span {
            display: none;
            &.glyphicon {
              display: block;
            }
          }
        }
      }
      .sticker-where {
        position: absolute; bottom: 10px; right: 10px;
      }

      .img-wrapper {
        width: 280px;
        height: 250px;
        background-size: cover;
        overflow: hidden;
        background-position: center center;
        margin: 10px;
      }
    }
  }
}

.rubric-filters {
  padding: 10px;
}

span.sign_ruble {
  //font-family: "Rouble_Sign";
  text-transform: uppercase;
  font-weight: lighter;
}
span.sign_ruble span:before {
  content: '\2013';
}
span.sign_ruble span {
  position: absolute;
  overflow: hidden;
  width: .45em;
  height: 1em;
  margin: .1ex 0 0 -0.55em;
}




/* Carousel base class */
.carousel {
  height: 300px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  background-color: #777;
}
//.carousel-inner > .item > img {
//  position: absolute;
//  top: 0;
//  left: 0;
//  min-width: 100%;
//  height:100%;
//  //height: 300px;
//}

.carousel-inner .img-wrapper {
  width: 300px;
  height: 300px;
  background-size: cover;
  overflow: hidden;
  background-position: center center;
  margin-bottom: 10px;
}
.carousel-control.left,
.carousel-control.right
{
  background: none;
}
.carousel-indicators li {
  border: 1px solid #808080;
  background: #fff;
}
.carousel-indicators .active {
  background: #808080;
}

.menu {
  .btn {
    text-align: left;
    font-size: 1.2em;
    padding: 10px 20px;
  }
}

.banner336 {
  margin: auto;
  border: 5px solid #ddd;
  width: 300px;
  height: 298px;
  margin-top: 20px;
  padding: 20px;
}


.rating-wrapper {
  padding-right: 50px;
  height: 300px;
  border-top: 1px solid #ddd;
  width: 330px;
  float: left;
  margin-left: 30px;
  padding-left: 20px;

  .progress {
    height:6px;
    margin-bottom: 0;
    .progress-bar-success {
        background: #6ac851;
    }
  }
  .media {
    margin-top: 10px;
  }
  .main-label {
    font-size: 1.4em;
    background: #D02F25;
    height: 40px;
    width: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    color: #fff;
  }

  h3 {
    margin: 0;
    line-height: 40px;
  }
}

.plus-wrapper,
.minus-wrapper
{
  font-size: 0.95em;
  width: 45%;
  display: table-cell;
  //float: left;

  h3 {
    font-size: 1.6em;
  }
  ul {
    //margin-left: 40px;
    padding: 0 20px 20px;
    li {
      margin-bottom: 5px;
    }
  }
}

.plus-wrapper {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  h3 {
    color: #3da323;
    margin-left: 20px;
  }
}
.minus-wrapper {
  border-top: 1px solid #ddd;
  padding-left: 20px;
  h3 {
    color: #D02F25;
    margin-left: 20px;
  }
}

.price-from {
  padding: 10px 20px;
  background: #75b937;
  color: #fff;
  font-size: 1.6em;
  text-align: center;
}

.tabs-content>.tab-pane.active {
  display: block;
  padding: 20px 40px;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;

}
.tabs-content>.tab-pane {
  display: none;
}
.tabs-content {
  p {
    text-align: justify;
  }
}

.where-by {
  width: 100%;
  max-width: 800px;
  tr {
    td {
      border-top: 1px solid #ddd;
    }
  }
}

.comments-summary {
  background: #eee;
  padding: 10px;
  line-height: 34px;
  .comments-summary-plus {
    margin: 0 20px;
    color: #5cb85c;
  }
}
.comments {
  .comment-wrapper {
    list-style-type: none;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;

    h5 {
      font-weight:700;
    }
    .comment-date {
      font-size: 0.8em;
      color: #999;
      text-align: right;
    }
  }
}


.comments-wrapper {

  margin-top: 50px;

  .comment-item {
    list-style-type: none;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 10px;

    .comment-date {
      color: #aaa;
      font-size: 0.9em;
      float: right
    }
    .comment-author {
      font-size: 1.4em;
    }
    .comment-text {
      font-size: 1em;
    }
  }

  .comment-form-wrapper {
    background: #eee;
    border: 1px solid #ddd;
    padding: 10px 20px;
    margin-top: 30px;

    h4 {
      font-size: 1.6em;
      margin-bottom: 20px;
    }
    .form-row {
      margin-bottom: 10px;
      overflow: auto;
      label {
        width: 100px;
        float: left;
      }

      textarea,
      input {
        width: 60%;
      }

      .btn {
        width: auto;
        margin-left: 100px;
      }
    }
  }
}














#props-wrapper {
  padding-bottom: 35px;
  border-bottom: 1px #e6e6e6 solid
}

.props-block {
  margin: 9px 0 34px 0;
  &:last-child {
    margin-bottom: 22px
  }
  .props-title {
    margin-bottom: 20px;
    font-size: 20px
  }
}


.props-list {
  font-size: 16px;
  line-height: 26px;
  .props-item {
    padding: 5px 0
  }
  .props-item:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden
  }
  .props-key {
    width: 280px;
    float: left;
    position: relative
  }
  .props-key .p-text {
    display: inline-block;
    padding-right: 6px;
    position: relative;
    background: #FFF
  }
  .props-value {
    float: left;
    width: 420px;
    margin-left: 10px
  }
}

.tabs-container {
  .nav-tabs {
    font-size: 1.4em;
    a {
      color: #333;
    }
  }
}


.links-wrapper {
  li {
    list-style-type: none;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    text-align: center;

    .link-title {
      font-size:1.2em;

    }

    img {
      max-width: 220px;
      margin-bottom: 10px;
    }
  }
}

.experts-wrapper {
  ul {
    li {
      border-bottom: 1px solid #ddd;
      overflow: auto;
      padding: 20px;
      list-style-type: none;
      &:first-child {
        border-top: 1px solid #ddd;
      }
      .expert-img-wrapper {
        width: 90px;
        height: 90px;
        border-radius: 100px;
        border: 1px solid #aaa;
        overflow: hidden;
        margin-right: 10px;
        float: left;
        margin-right: 50px;
        img {
          width: 90px;
        }
      }
      .expert-name {
        span {
          display: block;
          font-size: 1.4em;
          padding-top: 20px;
        }
      }
    }
  }
}

.expert-page-wrapper {
  .expert-item {
    border-bottom: 1px solid #ddd;
    overflow: auto;
    padding: 20px;
    list-style-type: none;
    .expert & {
      border-bottom: none;
    }
    &:first-child {
      border-top: 1px solid #ddd;
    }
    .expert-img-wrapper {
      width: 90px;
      height: 90px;
      border-radius: 100px;
      border: 1px solid #aaa;
      overflow: hidden;
      margin-right: 10px;
      float: left;
      margin-right: 50px;
      img {
        width: 90px;
      }
    }
    .expert-name {
      span {
        display: block;
        font-size: 1.4em;
        padding-top: 20px;
      }
    }
  }
}

.expert-wrapper {
  position: absolute;
  top: -10px;
  right: 10px;
  width: 300px;
  .expert-name {
    margin-top: 30px;
    span {
      font-size: 1.4em;
      display: block;
    }
  }
  .expert-img-wrapper {
    width: 90px;
    height: 90px;
    border-radius: 100px;
    border: 1px solid #ddd;
    overflow: hidden;
    margin-right: 10px;
    float: left;
    img {
      width: 90px;
    }
  }
}

.tabs-wrapper {
  .tabs-container {
    float:right; width: 100%;
    .tabs-container-inner {
      margin-left: 320px;
      word-wrap: break-word;
    }
  }
}
.expert {
  .tabs-wrapper {
    margin-top: 30px;
    clear: both;
    .tabs-container {
      float:none;
      width: 100%;
      .tabs-container-inner {
        margin-left: 0;
      }
    }
  }
}

.profile-title {
  margin-bottom: 25px;
  font-size: 25px;
  color: #000
}

.profile-block-inner {
  padding-top: 5px
}

.profile-block {
  margin-bottom: 35px
}

.profile-block p {
  font-size: 16px;
  line-height: 26px
}

.profile-block a:not(.link):hover {
  color: #a8001c
}

.data-list .item {
  margin-bottom: 15px;
  overflow: hidden;
  font-size: 16px
}

.data-list .key {
  float: left;
  width: 23%;
  position: relative
}

.data-list .d_text {
  display: inline-block;
  padding-right: 8px;
  position: relative;
  z-index: 2;
  color: #999;
  background-color: #FFF
}

.data-list .d_line {
  display: block;
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 4px;
  border-bottom: 2px dotted #e6e6e6
}

.data-list .value {
  width: 77%;
  float: left;
  padding-left: 10px
}

div.profile-answers {
  padding-top: 0
}



@media (max-width: 1155px) {
  .rating-wrapper {
    margin-left: 21%;
  }
  .tabs-container .nav-tabs {
    font-size: 1.2em;
  }
}
@media (max-width: 1024px) {
  .socialWrapper {
    display: none;
  }
  .navbar-toggle {
    display: block;
    background: #6CAB31;
    position: fixed;
    top: 10px;
    right: 10px;
    margin: 0;
    .icon-bar {
      background: #fff;
    }
  }

  #top-menu {
    display: none;
  }

  .sidebar-right {
    width: 100%;
    margin-left: 0;
    float: none;
    clear: both;
    margin-top: 40px;
  }

  .sidebar-left {
    width: 100%;
    margin-right: 0;
    float: none;
    clear: both;
    margin-top: 40px;
  }

  .content {
    float: none;
    .content-inner {
      margin-right: 0;
    }
  }

  .tabs-wrapper {
    .tabs-container {
      float:none;
      .tabs-container-inner {
        margin-left: 0;
      }
    }
  }
  #footer {
    .footer-wrap {
      .footer-col1 {
        float: none;
        width: 49%;
        display: inline-block;
      }
      .footer-col2 {
        float: none;
        width: 49%;
        display: inline-block;
      }
      .footer-col3 {
        float: none;
        width: 49%;
        display: inline-block;
        .counters {
          float: none;
        }
      }
      .footer-copy {
        float: none;
        width: 49%;
        display: inline-block;
      }
    }
  }
}


.search-form-wrapper {
  padding: 10px 20px;
  background: #eee;
  .search-str {
    width: 90%;
    height: 35px;
    font-size: 17px;
  }
}






@media (max-width: 840px) {
  .rating-wrapper {
    margin-left: 5%;
  }
  .search-form-wrapper {
    .search-str {
      width: 75%;
    }
  }
  .navbar-toggle {
    display: block;
    background: #6CAB31;
    position: fixed;
    top: 10px;
    right: 10px;
    margin: 0;
    .icon-bar {
      background: #fff;
    }
  }
}
@media (max-width: 767px) {
  .logo span {
    display: none;
  }
  .expert-wrapper {
    display: none;
  }
  .rating-wrapper {
    margin-left: 5%;
  }
  .navbar-toggle {
    display: block;
    background: #6CAB31;
    position: fixed;
    top: 10px;
    right: 10px;
    margin: 0;
    .icon-bar {
      background: #fff;
    }
  }

  .p-stikers ul li.double {
    width: 300px;
    .img-wrapper {
      width: 280px;
    }
  }
}

.mm-menu {
  //background: #aaaaaa !important;
}
.mm-menu .mm-search input {
  background: #fff !important;
  padding: 5px 10px !important;
}

@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar {
    text-align: center;
  }
}

@media (min-width: 1024px) {
  #mainSiteMenuMMenuNav {
    display: none;
  }
}


#mainSiteMenuMMenuNav {
  margin-top: 50px;
  .caret {
    display: none;
  }
}

//Login page
.auth {
  max-width: 350px;
  padding: 40px 40px;

  background-color: #F7F7F7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

  .heading {
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 10px;
  }

  .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    border-radius: 50%;
  }

  .profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
  }

  input[type=email],
  input[type=password],
  input[type=text],
  button {
    height: 40px;
    margin-bottom: 10px;
  }
  
  .links {
    margin-top: 20px;
    a.forgot-link {}
    a.register-link {
      float: right;
    }
  }
}
